# Various IDEs and Editors
.idea/
**/*~

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


# Mac OSX temporary files
.DS_Store
**/.DS_Store

# dfx temporary files
.dfx/
.vessel/

# frontend code
node_modules/
dist/
declarations/
