@import '~antd/dist/antd.variable';

.courseCard {
  width: 320px;

  & :global(.ant-card-body) {
    padding: @padding-md;
  }

  & :global(.ant-card-cover) {
    overflow: hidden;
  }

  & img {
    transition: transform 250ms ease-out;
  }

  &:hover img {
    transform: scale(1.2);
  }

  &_body {
    &_header {
      display: flex;
      justify-content: space-between;
    }
  }
}
