@import '~antd/dist/antd.variable';

.header {
  display: flex;
  justify-content:space-between;
  align-items: center;

  & a {
    height: 100%;
  }

  &:global(.ant-layout-header) {
    padding: 0 @padding-sm;
  }

  &__logo {
    height: 100%;
  }
}
