@import '~antd/dist/antd.variable';

.CourseLesson {
  padding: @padding-md @padding-lg;
  border: @border-width-base @border-style-base @border-color-base;
  border-radius: @border-radius-sm;

  &:not(:last-of-type) {
    margin-bottom: @margin-md
  }
}
