.courseDrawer {
  &_title:global(.ant-typography) {
    margin-bottom: 0;
  }

  &_content {
    height: 100%;
    width: 100%;

    &_description {
      word-break: break-word;
    }

    &_lessons {
      width: 100%;
    }
  }

  &_buttons {
    margin-left: auto;
  }
}
